.unique-card {
    background-color: #f5f5f5;
    border: none;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .group-members {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
  ::-webkit-scrollbar {
    width: 10px; /* Width of the vertical scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Background color of the track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Border radius of the thumb */
  }
  
  /* Adjust the appearance on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the thumb on hover */
  }
  .member {
    background-color: #ffd700;
    padding: 4px 8px;
    border-radius: 4px;
    margin-right: 4px;
    color: #333;
  }
  
  ul {
    padding-left: 20px;
    margin-bottom: 0;
  }
  
  .download-button {
    background-color: #333;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
  }
  
  .download-button:hover {
    background-color: #555;
  }
  
  .download-button:focus {
    box-shadow: none;
  }
  